allow untrusted_app baseband_prop:file r_file_perms;
allow untrusted_app sysfs:dir read;
allow untrusted_app sysfs:file read;
allow untrusted_app sysfs:file open;
